# dbt artifacts
target/
dbt_packages/
logs/
manifest.json
run_results.json
partial_parse.msgpack

# Python virtual environment
venv/
.env/

# Databricks local files
.databricks/

# OS / Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Sensitive dbt config
~/.dbt/
profiles.yml
